/* App.css */

/* Light mode */
.light-mode {
  --border-color: #bbb;
  --background-color: #ffffff;
  --navbar-footer-background-color: #eaeaea;
  --main-background-color: #ffffff;
  --text-color: #000000;
  --icon-color: #000000;
  --icon-hover-color: #555555;
}

/* Dark mode */
.dark-mode {
  --border-color: #888888;
  --background-color: #161b22;
  --navbar-footer-background-color: #000000;
  --main-background-color: #161b22;
  --text-color: #ffffff;
  --icon-color: #ffffff;
  --icon-hover-color: #aaaaaa;
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 40px 0 30px; /* Increase margin-top to add more space above hr */
}

main {
  background-color: var(--main-background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0; /* Remove margin */
  padding: 1rem; /* Add padding if needed */
}
